body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
}

 .login-form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.group {
    position: relative;
}


.form-control {
    width: 100%;
    padding: 10px;
    padding-left: 35px;  
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}


 
a{
    text-decoration: none;
    color: #3498db;

}
a:hover{
    color: #23e795;
}



