body{
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    margin-top: 0px;
    margin-left: 200px;
    padding: 5px;
}
.content h1{
    color: #041d23;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.status{
    background-color: #f2f2f2;
    padding: 3px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}